doctype html
html
   head
      title = "Here are the results"
      style.
          body {
              font-family: blue;
              font-size: 20px;
              text-align:center;
          }
   body
     h1 Result!
     td=results
     br